<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRequestTheme</key>
	<string>iconVersusPhase</string>
	<key>customSliderTension</key>
	<string>pivotalCapsuleTag</string>
	<key>descriptorOfBridge</key>
	<string>masterDecoratorRotation</string>
	<key>primaryCustompaintDirection</key>
	<string>projectEnvironmentStatus</string>
</dict>
</plist>
