<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncUntilFramework</key>
	<string>nextConsumerSpeed</string>
	<key>capsuleTempleShape</key>
	<string>reducerBesidePhase</string>
	<key>cartesianChecklistDensity</key>
	<string>overlayMethodTail</string>
	<key>decorationPatternValidation</key>
	<string>finalBorderAppearance</string>
	<key>directSubscriptionAcceleration</key>
	<string>cartesianProviderStyle</string>
	<key>imageOperationEdge</key>
	<string>tensorConfigurationOrigin</string>
	<key>navigatorAmongCycle</key>
	<string>concurrentDescriptionSaturation</string>
</dict>
</plist>
