<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarFlyweightSpacing</key>
	<string>taskBesideTemple</string>
	<key>factoryFlyweightBrightness</key>
	<string>stackSystemSkewx</string>
	<key>immediateShaderDuration</key>
	<string>activatedBuilderTail</string>
	<key>prevCapsuleForce</key>
	<string>workflowDuringStructure</string>
	<key>referenceChainForce</key>
	<string>discardedRoleSize</string>
	<key>sampleStyleSpacing</key>
	<string>robustSkinBrightness</string>
	<key>usecaseJobType</key>
	<string>directLogHue</string>
</dict>
</plist>
