<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionActionTint</key>
	<string>effectProxyAlignment</string>
	<key>bufferPerForm</key>
	<string>ternaryDuringEnvironment</string>
	<key>entityProxyName</key>
	<string>awaitAgainstValue</string>
	<key>reducerCommandBorder</key>
	<string>tensorDelegateTail</string>
	<key>streamDecoratorCoord</key>
	<string>viewThroughDecorator</string>
	<key>viewAboutPattern</key>
	<string>rectOfInterpreter</string>
</dict>
</plist>
