<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFormPressure</key>
	<string>decorationVisitorSpeed</string>
	<key>functionalSingletonInteraction</key>
	<string>sophisticatedDialogsFeedback</string>
	<key>imperativeToolLocation</key>
	<string>extensionAsFacade</string>
	<key>prevControllerVelocity</key>
	<string>sliderBeyondStrategy</string>
	<key>scaffoldAgainstStructure</key>
	<string>robustTextAcceleration</string>
	<key>sequentialStateTransparency</key>
	<string>storeThanForm</string>
	<key>specifierInCommand</key>
	<string>directlyOffsetTag</string>
</dict>
</plist>
