<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constInstructionLeft</key>
	<string>cardMethodState</string>
	<key>positionedChainName</key>
	<string>previewPerContext</string>
	<key>relationalMarginAcceleration</key>
	<string>transitionValueBehavior</string>
	<key>responseShapeMargin</key>
	<string>gestureTempleDuration</string>
</dict>
</plist>
