<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAboutEnvironment</key>
	<string>originalUsecaseFormat</string>
	<key>completerForVar</key>
	<string>symbolContextTop</string>
	<key>constDrawerStyle</key>
	<string>reactiveLabelDensity</string>
	<key>contractionPatternLocation</key>
	<string>sliderNearStage</string>
	<key>descriptorSinceMethod</key>
	<string>resolverParamOrigin</string>
	<key>diffableContainerTag</key>
	<string>visibleMaterialBrightness</string>
	<key>permanentClipperName</key>
	<string>swiftInTier</string>
	<key>significantTickerType</key>
	<string>permanentMusicValidation</string>
</dict>
</plist>
