<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryCompositeBottom</key>
	<string>protectedTextBrightness</string>
	<key>buttonAtActivity</key>
	<string>originalOperationAcceleration</string>
	<key>finalTransitionContrast</key>
	<string>ephemeralGiftOffset</string>
	<key>gateBesideCycle</key>
	<string>priorCollectionSize</string>
</dict>
</plist>
