<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveAlignmentResponse</key>
	<string>boxMethodStyle</string>
	<key>advancedPointRotation</key>
	<string>similarProjectHue</string>
	<key>diffableLoopTension</key>
	<string>standaloneCurveOrientation</string>
	<key>missionStateKind</key>
	<string>interactorFacadeHue</string>
	<key>navigatorViaInterpreter</key>
	<string>resilientBuilderFeedback</string>
	<key>previewForStructure</key>
	<string>segueScopeCoord</string>
	<key>utilPhaseDensity</key>
	<string>awaitVarState</string>
</dict>
</plist>
