<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateTypeAcceleration</key>
	<string>cacheContextTension</string>
	<key>descriptionInsideComposite</key>
	<string>materialContextSpacing</string>
	<key>liteProfileOpacity</key>
	<string>reusableTaskOrientation</string>
	<key>metadataDespiteTier</key>
	<string>statelessLikeStrategy</string>
	<key>navigatorInsideBuffer</key>
	<string>stackFunctionMode</string>
	<key>opaquePopupFormat</key>
	<string>heroParameterTransparency</string>
	<key>storageUntilTier</key>
	<string>protectedRouteDensity</string>
	<key>usecaseFrameworkStatus</key>
	<string>layoutExceptDecorator</string>
</dict>
</plist>
