<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitDespiteActivity</key>
	<string>autoDecorationEdge</string>
	<key>firstStampVisible</key>
	<string>particleTaskKind</string>
	<key>graphAndMode</key>
	<string>webStateFormat</string>
	<key>interfaceNearPattern</key>
	<string>nibSinceCommand</string>
	<key>multiSliderName</key>
	<string>interpolationMethodOrientation</string>
	<key>offsetVarIndex</key>
	<string>tensorSkirtAppearance</string>
</dict>
</plist>
