<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWorkShape</key>
	<string>stackAtMemento</string>
	<key>callbackStructureLocation</key>
	<string>aspectratioProxyPadding</string>
	<key>cursorInsideLevel</key>
	<string>diversifiedObserverAcceleration</string>
	<key>disabledScrollScale</key>
	<string>pointTempleBorder</string>
	<key>invisibleFutureOffset</key>
	<string>checkboxJobTransparency</string>
	<key>mobileBesideScope</key>
	<string>decorationMediatorTension</string>
	<key>subscriptionParameterHead</key>
	<string>resultThanSingleton</string>
</dict>
</plist>
