<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directCosinePosition</key>
	<string>vectorAlongStage</string>
	<key>handlerVersusLevel</key>
	<string>globalBlocHead</string>
	<key>lostNavigatorAcceleration</key>
	<string>listenerVarTension</string>
	<key>offsetFacadePosition</key>
	<string>modalStateContrast</string>
	<key>requestActivityPosition</key>
	<string>memberBeyondPhase</string>
	<key>scaffoldDespiteSingleton</key>
	<string>memberAsSingleton</string>
	<key>significantSymbolDepth</key>
	<string>requiredMapInteraction</string>
	<key>substantialCurveDistance</key>
	<string>localAnimationForce</string>
	<key>threadOutsidePattern</key>
	<string>inkwellStructureEdge</string>
</dict>
</plist>
